/* Background image: "Qblks" by Alex Nolla (Source: Toptal Subtle Patterns) */
body {
    background-image: url(../images/qbkls.png);
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
h2 {
    border-bottom: 3px solid #dddddd;
    color: #4aaaa5;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 20px;
    padding: 30px 0;
}
em {
    font-style: italic;
}
footer {
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    color: #ffffff;
    height: 75px;
    position: relative;
    text-align: center;
}
form {
    padding: 20px;
}
header{
    background-color: #ffffff;
    border-bottom: 4px solid #cccccc;
}
p {
    line-height: 1.5em;
    margin: -5px 0 1em 0;
}
label,
input,
textarea {
    display: block;
    width: 100%
}
label {
    margin-bottom: 0.5em;
}
input,
textarea {
    margin-bottom: 1em;
}
textarea {
    height: 200px;
}

/* Navigation links*/
nav {
    margin: auto 0;
}
nav li {
    display: inline-flex;
    padding: 0 10px;
    border-right: 1px solid #dddddd;
}
nav li:last-child {
    padding-left: 10px;
    padding-right: 0;
    border: none;
}
nav a,
nav a:active,
nav a:visited {
    color: #777777;
    text-decoration: none;
}

/* Porfolio Gallery */
#gallery {
    text-align: left;
}
.gallery-img {
    display: inline-block;
    height: 205px;
    margin: 30px 20px;
    overflow: hidden;
    position: relative;
    width: 275px;
}
.img-label {
    color: #ffffff;
    background-color: #4aaaa5;
    bottom: 10px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* Site logo */
#author-name {
    background-color: #4aaaa5;
    color: white;
    display: inline-flex;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 30px;
}
#bio {
    padding: 20px;
}
#bio-image {
    float: left;
    margin-right: 20px;
    max-height: 260px;
}
#header-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
}
#footer-content{
    bottom: 10px;
    display: inline-block;
    margin: 0 auto;
    position: absolute;
}
#main-content {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin: 15px auto;
    max-width: 960px;
}